.title{
margin: 0px;
display: flex;
height: 50px;
padding-left: 5px;
    font-size: 24px;
    font-weight: 500;
    width: 295px;
    align-items: center;
}
.title__dectription{
    margin-left: 10px;
    width: 250px;
    visibility: hidden;
    font-size: 20px;
    font-weight: 100;
}
.checklist__container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.header{
    display: flex;
    width: 100%;
    align-items: center;
    height: 50px;
    width: 500px;

}
.header:hover{
    background-color: rgb(234, 247, 234);
    cursor: default;
    transition: 0.5s;
}

.header:hover .title__dectription{
    visibility: visible;

}
.header:hover .title{
    background-color: rgb(189, 214, 189);
    transition: 0.5s;
}
.spin{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}